---
layout: page
title: "About"
description: "Hey, this is PY."
header-img: "img/fnn.jpg"
---

<!-- Language Selector -->
<select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        <p>尝试、收获、感受，然后放下。<br> Venture, discover, embrace, and release.</p>
    </blockquote>

    <p>Hey，我是 <strong>PY</strong>，现居瑞典哥德堡，就读于 KTH 计算机科学专业。</p>

    <p>我热爱技术，专注于计算机科学相关的学习和实践，主要记录技术笔记、学习心得和项目经验。</p>

    <p>闲暇之余，我喜欢打羽毛球、吹萨克斯、以及探索各种有趣的游戏。</p>

    <p>我的 GitHub 主页：<a href="https://github.com/Stellariser">👉 Stellariser</a></p>
    <p>我的游戏作品网页：<a href="https://stellarise.itch.io/">👉 Stellarise Games</a></p>
</div>

<!-- English Version -->
<div class="en post-container" style="display: none;">
    <blockquote>
        <p>Venture, discover, embrace, and release.</p>
    </blockquote>

    <p>Hey, I'm <strong>PY</strong>, a Computer Science student at KTH, currently living in Gothenburg, Sweden.</p>

    <p>I have a deep passion for technology, focusing on software development, learning notes, and technical insights.</p>

    <p>Outside of academics, I enjoy playing badminton, playing the saxophone, and exploring various games.</p>

    <p>Check out my GitHub: <a href="https://github.com/Stellariser">👉 Stellariser</a></p>
    <p>My game projects: <a href="https://stellarise.itch.io/">👉 Stellarise Games</a></p>
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    window.addEventListener('hashchange', _render);

    function _render(){
        var _hash = window.location.hash;
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        } else {
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh";
        } else {
            window.location.hash = "#en";
        }
    }

    _render();
</script>

<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
<script type="text/javascript">
    var gitalk = new Gitalk({
        clientID: '{{site.gitalk.clientID}}',
        clientSecret: '{{site.gitalk.clientSecret}}',
        repo: '{{site.gitalk.repo}}',
        owner: '{{site.gitalk.owner}}',
        admin: ['{{site.gitalk.admin}}'],
        distractionFreeMode: {{site.gitalk.distractionFreeMode}},
        id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

<!-- Disqus 评论框 start  -->
{% if site.disqus.enable %}
<div class="comment">
    <div id="disqus_thread" class="disqus-thread"></div>
</div>
<script type="text/javascript">
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
{% endif %}
<!-- Disqus 评论框 end -->
